@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */

.text-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    color: #FFF;
    background: #FF900E;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: 0px;

}

/* header styles start  */

header {
    background: rgba(255, 144, 14, 0.10);
    /* width: 1920px;
    height: 1322px; */
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 80px;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
}

/* banner styles */

.banner {
    text-align: center;

}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    margin-top: 50px;
    max-width: 133vh;
}

/* teams styles start  */
.team-container {
    display: flex;
    margin: 85px 200px 130px 200px;
    gap: 73px;


}

.team-benner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}

.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.team-content .quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.team-content .medile-text {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.team-content .features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* features styles start  */
.features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin: 0 200px;
}

.features-content {}

.features-box-top h4 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.features-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;
    margin-bottom: 10px;
}

.features-box h4 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.features-box p {
    color: #727272;
    text-align: justify;
}

.architect-container img {
    width: 545px;
    height: 895px;
    margin-top: 20px;
}

.architect-bottom {
    color: #FFF;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    /* padding: 30px; */
    width: 258px;
    height: 140px;
}

.architect-bottom h4 {
    font-size: 50px;
    font-weight: 700;
    padding-top: 29px;
    margin-bottom: -18px;
}

/* fact section styles  */
.facts-container {
    margin: 0px 200px;
}

.facts-title {
    margin-bottom: 24px;
}

.facts-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
}

.facts-box {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px;
}

.facts-box img {
    padding: 30px 70px 0px 70px;

}

.facts-box-title {
    color: #424242;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 5px;

}

.facts-box-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* sponspors styles start  */
.sponspors-container {
    margin-top: 180px
}

.sponspors-content {
    text-align: center;
}

.sponspors-description {
    margin-top: 24px;
}

.sponspors-logo-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* footer styles start  */

footer {
    color: #424242;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 38px 0;
    margin-bottom: 220px;
}

/* Responsive styles start  */

/* small device responsive style  */
.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
    }

}